{% extends "base.html" %}
{% block title %} Create Host-Only {% endblock %}
{% block style %}

{% endblock %}
{% block content %}

<div class=" pt-6 h-100">
    <div class="d-flex justify-content-center align-items-center h-100">
        <form  method="POST" method="post" action="." enctype="multipart/form-data" class="card card-flush shadow-sm w-75 p-5">
            <div class="m-6">
                <label class="fs-3 form-label d-flex justify-content-center align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cpu-fill" viewBox="0 0 16 16">
                        <path d="M6.5 6a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/>
                        <path d="M5.5.5a.5.5 0 0 0-1 0V2A2.5 2.5 0 0 0 2 4.5H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2v1H.5a.5.5 0 0 0 0 1H2A2.5 2.5 0 0 0 4.5 14v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14h1v1.5a.5.5 0 0 0 1 0V14a2.5 2.5 0 0 0 2.5-2.5h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14v-1h1.5a.5.5 0 0 0 0-1H14A2.5 2.5 0 0 0 11.5 2V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5a.5.5 0 0 0-1 0V2h-1V.5zm1 4.5h3A1.5 1.5 0 0 1 11 6.5v3A1.5 1.5 0 0 1 9.5 11h-3A1.5 1.5 0 0 1 5 9.5v-3A1.5 1.5 0 0 1 6.5 5z"/>
                    </svg>
                    <span style="font-size: 2rem;margin-left: .5rem;">Software (Voice 2 Text)</span>
                </label>
            </div>

            <!-- bof -->
            <div class="fv-row mb-10 mx-10">
                {% if flag %}
                    <script type="text/javascript"> 
                        const text = '{{output}}';
                        const filename = '{{filename}}';
                        var element = document.createElement('a');
                        element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
                        element.setAttribute('download', filename);
            
                        element.style.display = 'none';
                        document.body.appendChild(element);
            
                        element.click();
            
                        document.body.removeChild(element);
                    </script>
                {% endif %}

                <!--begin::Input group-->
                <div>
                    <!--begin::Dropzone-->
                    <label for="choose-btn" class="dropzone w-100" id="kt_dropzonejs_example_1">
                        <!--begin::Message-->
                        <div class="dz-message needsclick">
                            <!--begin::Icon-->
                            <i class="bi bi-file-earmark-arrow-up text-primary fs-3x"></i>
                            <!--end::Icon-->

                            <!--begin::Info-->
                            <div class="ms-4">
                                <h3 class="fs-5 fw-bolder text-gray-900 mb-1">Click here to upload</h3>
                                <span id="custom-text" class="fs-7 fw-bold text-gray-400">.mp3/.wav</span>
                            </div>
                            <!--end::Info-->
                        </div>
                    </label>
                    <input type="file" name="file" id="choose-btn"  hidden/>
                    <!--end::Dropzone-->
                </div>
                <!--end::Input group-->
                
                <div class="mt-4">
                    <input type="text" name="language" class="form-control form-control-solid" placeholder="en"/>
                </div>

                <div class="mt-4">
                    <select name="ext" class="form-select form-select-solid" aria-label="Select example">
                        <option value="json">.Json</option>
                        <option value="srt">.srt</option>
                        <option value="txt">.txt</option>
                    </select>
                </div>

                <div class="d-flex justify-content-center mt-4">
                    <input type="submit" id="process-btn" onclick="myFunction()" hidden/>
                    <button id="loading-spinner"  onclick="myFunction()" for="process-btn" class="btn btn-primary">
                        Process
                    </button> 
                </div>
            </div>
            <!-- eof -->
        </form>
    </div>
</div>

{% endblock %}
{% block script %}
<script>
    const realFileBtn = document.getElementById("choose-btn");
    const customTxt = document.getElementById("custom-text");

    realFileBtn.addEventListener("change", function() {
        if (realFileBtn.value) {
            customTxt.innerHTML = realFileBtn.value.match(
            /[\/\\]([\w\d\s\.\-\(\)]+)$/
            )[1];
        }
    });

    function myFunction() {
        const x = document.getElementById("loading-spinner");
        x.innerHTML = `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Process`
    }
</script>
{% endblock %}